@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
  height: 100%;
  background-color: #303030;
}

img {
  margin-top: 2%;;
  width: 100px;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #303030;
  color: #e74c3c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}

.box {
  display: inline-block;
  width: 50%;
}

.btn-space {
  margin-right: 15px;
}

.content {
  color: #FFFFFFB3;
  padding: 1% 2%;
  margin: 2% auto;
  margin-top: -4%;
  width: 90%;
  background-color: #424242;

}

.content>h3 {
  color: #e74c3c;
  margin-bottom: 15px;
}

.container {
  margin-top:70px;
}

small {
  color: #FFFFFF80
}

.pieHolder {
  margin-top: 4%;
}

.barHolder {
  height: 400px;
}

footer {
  width: 100%;
  margin-top: 4%;
  background-color: black;
  position: absolute;
}
